h1{
    text-align:center;
    background-color: black;
    color: antiquewhite;
}
h3{
    color: red;

}

*{
    flex-direction: column;
    text-align: justify;
    background-color: gainsboro;
    line-height: 2em;

}
#essay{
    width: 400;
    height: 100;
}



